.back{
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
}
.switch{
  display: block;
  width: 90vw;
  text-align: center;
  border: 2px solid black;
  position:absolute;
  bottom:10px;
  margin-left: 5vw;
  border-radius: 20px;
}
.change{
  margin-left: 40px;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
 
}